{% extends "base.html" %}

{% block content %}

    <div class="about">
    <div class="about_left">
        <div class="txt">
            Nhóm của chúng tôi trình bày máy dò tìm Mệt mỏi, được phát triển chủ yếu để ghi nhớ xu hướng hiện nay của các lớp học trực tuyến.
         Do đại dịch này, tất cả chúng ta đang dành nhiều thời gian trên Máy tính, điện thoại để tham gia các lớp học của mình. Ngoài điều này, chúng tôi
         cũng dành nhiều thời gian để xem các chương trình truyền hình, phim ảnh, v.v. <br />
        
        Trong tình huống như vậy, học sinh sẽ căng thẳng và mệt mỏi là điều đương nhiên. Dự án của chúng tôi là nhằm giải quyết vấn đề này.
        Ứng dụng của chúng tôi sẽ giúp sinh viên tỉnh táo trong các lớp học trực tuyến bằng cách theo dõi chuyển động mắt của họ.
        Nó sẽ kích hoạt một báo động trong trường hợp học sinh vô tình ngủ gật trong các lớp học trực tuyến.
        Nó cũng nhắc nhở chúng ta thỉnh thoảng phải uống đủ nước.
        Hơn nữa, có một tính năng bổ sung sẽ cung cấp cho sinh viên các mẹo hàng ngày về cách duy trì
        sức khỏe và duy trì hoạt động trong các lớp học trực tuyến.
        </div>
    </div>
    <div class="about_right scale-up-center">
        <div class="content2 flex">
            <img class="relax slide-fwd-center" src="../static/media/about.svg">
        </div>
    
        </div>
</div>
    
{% endblock content %}